.site-layout .site-layout-background {
    background: #fff;
  }
.breadcrumb {
  margin-top:16px;
  margin-left: 16px;
  color:darkgreen;
  cursor: pointer;
}
.dropdown-menu{
  width: 200px;
  border: none;
  font-weight: bold;
  /* background: #d9d9d9; */
}
.a{
  margin-left: 16px;
}
.ant-dropdown-menu  {
  border-radius: 50px;
}
 
.en{
  float: right;
  margin-top:1.2rem;
}
.sheet{
  margin-top: 10px;
  margin-left: 16px;
}
.tabs{
  margin-left: 16px;
}
 

 